.markdownl {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    color: #24292f;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.markdownl .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}

.markdownl h1:hover .anchor .octicon-link:before,
.markdownl h2:hover .anchor .octicon-link:before,
.markdownl h3:hover .anchor .octicon-link:before,
.markdownl h4:hover .anchor .octicon-link:before,
.markdownl h5:hover .anchor .octicon-link:before,
.markdownl h6:hover .anchor .octicon-link:before {
    width: 16px;
    height: 16px;
    content: ' ';
    display: inline-block;
    background-color: transparent;
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdownl details,
.markdownl figcaption,
.markdownl figure {
    display: block;
}

.markdownl summary {
    display: list-item;
}

.markdownl [hidden] {
    display: none !important;
}

.markdownl a {
    background-color: transparent;
    color: #0969da;
    text-decoration: none;
}

.markdownl abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}

.markdownl b,
.markdownl strong {
    font-weight: 600;
}

.markdownl dfn {
    font-style: italic;
}

.markdownl h1 {
    margin: .67em 0;
    font-weight: 600;
    padding-bottom: .3em;
    font-size: 2em;
    border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

.markdownl mark {
    background-color: transparent;
    color: #24292f;
}

.markdownl small {
    font-size: 90%;
}

.markdownl sub,
.markdownl sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.markdownl sub {
    bottom: -0.25em;
}

.markdownl sup {
    top: -0.5em;
}

.markdownl img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
    background-color: transparent;
}

.markdownl code,
.markdownl kbd,
.markdownl pre,
.markdownl samp {
    font-family: monospace;
    font-size: 1em;
}

.markdownl figure {
    margin: 1em 40px;
}

.markdownl hr {
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid hsla(210, 18%, 87%, 1);
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: transparent;
    border: 0;
}

.markdownl input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.markdownl [type=button],
.markdownl [type=reset],
.markdownl [type=submit] {
    -webkit-appearance: button;
}

.markdownl [type=checkbox],
.markdownl [type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.markdownl [type=number]::-webkit-inner-spin-button,
.markdownl [type=number]::-webkit-outer-spin-button {
    height: auto;
}

.markdownl [type=search]::-webkit-search-cancel-button,
.markdownl [type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.markdownl ::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
}

.markdownl ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

.markdownl a:hover {
    text-decoration: underline;
}

.markdownl ::placeholder {
    color: #6e7781;
    opacity: 1;
}

.markdownl hr::before {
    display: table;
    content: "";
}

.markdownl hr::after {
    display: table;
    clear: both;
    content: "";
}

.markdownl table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}

.markdownl td,
.markdownl th {
    padding: 0;
}

.markdownl details summary {
    cursor: pointer;
}

.markdownl details:not([open])>*:not(summary) {
    display: none !important;
}

.markdownl a:focus,
.markdownl [role=button]:focus,
.markdownl input[type=radio]:focus,
.markdownl input[type=checkbox]:focus {
    outline: 2px solid #0969da;
    outline-offset: -2px;
    box-shadow: none;
}

.markdownl a:focus:not(:focus-visible),
.markdownl [role=button]:focus:not(:focus-visible),
.markdownl input[type=radio]:focus:not(:focus-visible),
.markdownl input[type=checkbox]:focus:not(:focus-visible) {
    outline: solid 1px transparent;
}

.markdownl a:focus-visible,
.markdownl [role=button]:focus-visible,
.markdownl input[type=radio]:focus-visible,
.markdownl input[type=checkbox]:focus-visible {
    outline: 2px solid #0969da;
    outline-offset: -2px;
    box-shadow: none;
}

.markdownl a:not([class]):focus,
.markdownl a:not([class]):focus-visible,
.markdownl input[type=radio]:focus,
.markdownl input[type=radio]:focus-visible,
.markdownl input[type=checkbox]:focus,
.markdownl input[type=checkbox]:focus-visible {
    outline-offset: 0;
}

.markdownl kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    line-height: 10px;
    color: #24292f;
    vertical-align: middle;
    background-color: transparent;
    border: solid 1px rgba(175, 184, 193, 0.2);
    border-bottom-color: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2);
}

.markdownl h1,
.markdownl h2,
.markdownl h3,
.markdownl h4,
.markdownl h5,
.markdownl h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.markdownl h2 {
    font-weight: 600;
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

.markdownl h3 {
    font-weight: 600;
    font-size: 1.25em;
}

.markdownl h4 {
    font-weight: 600;
    font-size: 1em;
}

.markdownl h5 {
    font-weight: 600;
    font-size: .875em;
}

.markdownl h6 {
    font-weight: 600;
    font-size: .85em;
    color: #57606a;
}

.markdownl p {
    margin-top: 0;
    margin-bottom: 10px;
}

.markdownl blockquote {
    margin: 0;
    padding: 0 1em;
    color: #57606a;
    border-left: .25em solid #d0d7de;
}

.markdownl ul,
.markdownl ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
}

.markdownl ol ol,
.markdownl ul ol {
    list-style-type: lower-roman;
}

.markdownl ul ul ol,
.markdownl ul ol ol,
.markdownl ol ul ol,
.markdownl ol ol ol {
    list-style-type: lower-alpha;
}

.markdownl dd {
    margin-left: 0;
}

.markdownl tt,
.markdownl code,
.markdownl samp {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 12px;
}

.markdownl pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 12px;
    word-wrap: normal;
}

.markdownl .octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.markdownl input::-webkit-outer-spin-button,
.markdownl input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}

.markdownl::before {
    display: table;
    content: "";
}

.markdownl::after {
    display: table;
    clear: both;
    content: "";
}

.markdownl>*:first-child {
    margin-top: 0 !important;
}

.markdownl>*:last-child {
    margin-bottom: 0 !important;
}

.markdownl a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.markdownl .absent {
    color: #cf222e;
}

.markdownl .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}

.markdownl .anchor:focus {
    outline: none;
}

.markdownl p,
.markdownl blockquote,
.markdownl ul,
.markdownl ol,
.markdownl dl,
.markdownl table,
.markdownl pre,
.markdownl details {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdownl blockquote>:first-child {
    margin-top: 0;
}

.markdownl blockquote>:last-child {
    margin-bottom: 0;
}

.markdownl h1 .octicon-link,
.markdownl h2 .octicon-link,
.markdownl h3 .octicon-link,
.markdownl h4 .octicon-link,
.markdownl h5 .octicon-link,
.markdownl h6 .octicon-link {
    color: #24292f;
    vertical-align: middle;
    visibility: hidden;
}

.markdownl h1:hover .anchor,
.markdownl h2:hover .anchor,
.markdownl h3:hover .anchor,
.markdownl h4:hover .anchor,
.markdownl h5:hover .anchor,
.markdownl h6:hover .anchor {
    text-decoration: none;
}

.markdownl h1:hover .anchor .octicon-link,
.markdownl h2:hover .anchor .octicon-link,
.markdownl h3:hover .anchor .octicon-link,
.markdownl h4:hover .anchor .octicon-link,
.markdownl h5:hover .anchor .octicon-link,
.markdownl h6:hover .anchor .octicon-link {
    visibility: visible;
}

.markdownl h1 tt,
.markdownl h1 code,
.markdownl h2 tt,
.markdownl h2 code,
.markdownl h3 tt,
.markdownl h3 code,
.markdownl h4 tt,
.markdownl h4 code,
.markdownl h5 tt,
.markdownl h5 code,
.markdownl h6 tt,
.markdownl h6 code {
    padding: 0 .2em;
    font-size: inherit;
}

.markdownl summary h1,
.markdownl summary h2,
.markdownl summary h3,
.markdownl summary h4,
.markdownl summary h5,
.markdownl summary h6 {
    display: inline-block;
}

.markdownl summary h1 .anchor,
.markdownl summary h2 .anchor,
.markdownl summary h3 .anchor,
.markdownl summary h4 .anchor,
.markdownl summary h5 .anchor,
.markdownl summary h6 .anchor {
    margin-left: -40px;
}

.markdownl summary h1,
.markdownl summary h2 {
    padding-bottom: 0;
    border-bottom: 0;
}

.markdownl ul.no-list,
.markdownl ol.no-list {
    padding: 0;
    list-style-type: none;
}

.markdownl ol[type=a] {
    list-style-type: lower-alpha;
}

.markdownl ol[type=A] {
    list-style-type: upper-alpha;
}

.markdownl ol[type=i] {
    list-style-type: lower-roman;
}

.markdownl ol[type=I] {
    list-style-type: upper-roman;
}

.markdownl ol[type="1"] {
    list-style-type: decimal;
}

.markdownl div>ol:not([type]) {
    list-style-type: decimal;
}

.markdownl ul ul,
.markdownl ul ol,
.markdownl ol ol,
.markdownl ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.markdownl li>p {
    margin-top: 16px;
}

.markdownl li+li {
    margin-top: .25em;
}

.markdownl dl {
    padding: 0;
}

.markdownl dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

.markdownl dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.markdownl table th {
    font-weight: 600;
}

.markdownl table th,
.markdownl table td {
    padding: 6px 13px;
    border: 1px solid #d0d7de;
}

.markdownl table tr {
    background-color: transparent;
    border-top: 1px solid hsla(210, 18%, 87%, 1);
}

.markdownl table tr:nth-child(2n) {
    background-color: transparent;
}

.markdownl table img {
    background-color: transparent;
}

.markdownl img[align=right] {
    padding-left: 20px;
}

.markdownl img[align=left] {
    padding-right: 20px;
}

.markdownl .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent;
}

.markdownl span.frame {
    display: block;
    overflow: hidden;
}

.markdownl span.frame>span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid #d0d7de;
}

.markdownl span.frame span img {
    display: block;
    float: left;
}

.markdownl span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #24292f;
}

.markdownl span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdownl span.align-center>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center;
}

.markdownl span.align-center span img {
    margin: 0 auto;
    text-align: center;
}

.markdownl span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdownl span.align-right>span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right;
}

.markdownl span.align-right span img {
    margin: 0;
    text-align: right;
}

.markdownl span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden;
}

.markdownl span.float-left span {
    margin: 13px 0 0;
}

.markdownl span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden;
}

.markdownl span.float-right>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
}

.markdownl code,
.markdownl tt {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: transparent;
    border-radius: 6px;
}

.markdownl code br,
.markdownl tt br {
    display: none;
}

.markdownl del code {
    text-decoration: inherit;
}

.markdownl samp {
    font-size: 85%;
}

.markdownl pre code {
    font-size: 100%;
}

.markdownl pre>code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: rgb(163 163 163 / var(--tw-bg-opacity));
    border: 0;
}

.markdownl .highlight {
    margin-bottom: 16px;
}

.markdownl .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.markdownl .highlight pre,
.markdownl pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background: rgb(163 163 163 / var(--tw-bg-opacity));
    border-radius: 6px;
}

.markdownl pre code,
.markdownl pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.markdownl .csv-data td,
.markdownl .csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
}

.markdownl .csv-data .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: rgb(229 231 235 / var(--tw-bg-opacity));
    border: 0;
}

.markdownl .csv-data tr {
    border-top: 0;
}

.markdownl .csv-data th {
    font-weight: 600;
    background: #f6f8fa;
    border-top: 0;
}

.markdownl [data-footnote-ref]::before {
    content: "[";
}

.markdownl [data-footnote-ref]::after {
    content: "]";
}

.markdownl .footnotes {
    font-size: 12px;
    color: #57606a;
    border-top: 1px solid #d0d7de;
}

.markdownl .footnotes ol {
    padding-left: 16px;
}

.markdownl .footnotes ol ul {
    display: inline-block;
    padding-left: 16px;
    margin-top: 16px;
}

.markdownl .footnotes li {
    position: relative;
}

.markdownl .footnotes li:target::before {
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -24px;
    pointer-events: none;
    content: "";
    border: 2px solid #0969da;
    border-radius: 6px;
}

.markdownl .footnotes li:target {
    color: #24292f;
}

.markdownl .footnotes .data-footnote-backref g-emoji {
    font-family: monospace;
}

.markdownl .pl-c {
    color: #6e7781;
}

.markdownl .pl-c1,
.markdownl .pl-s .pl-v {
    color: #0550ae;
}

.markdownl .pl-e,
.markdownl .pl-en {
    color: #8250df;
}

.markdownl .pl-smi,
.markdownl .pl-s .pl-s1 {
    color: #24292f;
}

.markdownl .pl-ent {
    color: #116329;
}

.markdownl .pl-k {
    color: #cf222e;
}

.markdownl .pl-s,
.markdownl .pl-pds,
.markdownl .pl-s .pl-pse .pl-s1,
.markdownl .pl-sr,
.markdownl .pl-sr .pl-cce,
.markdownl .pl-sr .pl-sre,
.markdownl .pl-sr .pl-sra {
    color: #0a3069;
}

.markdownl .pl-v,
.markdownl .pl-smw {
    color: #953800;
}

.markdownl .pl-bu {
    color: #82071e;
}

.markdownl .pl-ii {
    color: #f6f8fa;
    background-color: transparent;
}

.markdownl .pl-c2 {
    color: #f6f8fa;
    background-color: transparent;
}

.markdownl .pl-sr .pl-cce {
    font-weight: bold;
    color: #116329;
}

.markdownl .pl-ml {
    color: #3b2300;
}

.markdownl .pl-mh,
.markdownl .pl-mh .pl-en,
.markdownl .pl-ms {
    font-weight: bold;
    color: #0550ae;
}

.markdownl .pl-mi {
    font-style: italic;
    color: #24292f;
}

.markdownl .pl-mb {
    font-weight: bold;
    color: #24292f;
}

.markdownl .pl-md {
    color: #82071e;
    background-color: transparent;
}

.markdownl .pl-mi1 {
    color: #116329;
    background-color: transparent;
}

.markdownl .pl-mc {
    color: #953800;
    background-color: transparent;
}

.markdownl .pl-mi2 {
    color: #eaeef2;
    background-color: transparent;
}

.markdownl .pl-mdr {
    font-weight: bold;
    color: #8250df;
}

.markdownl .pl-ba {
    color: #57606a;
}

.markdownl .pl-sg {
    color: #8c959f;
}

.markdownl .pl-corl {
    text-decoration: underline;
    color: #0a3069;
}

.markdownl g-emoji {
    display: inline-block;
    min-width: 1ch;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    font-style: normal !important;
    font-weight: 400;
    line-height: 1;
    vertical-align: -0.075em;
}

.markdownl g-emoji img {
    width: 1em;
    height: 1em;
}

.markdownl .task-list-item {
    list-style-type: none;
}

.markdownl .task-list-item label {
    font-weight: 400;
}

.markdownl .task-list-item.enabled label {
    cursor: pointer;
}

.markdownl .task-list-item+.task-list-item {
    margin-top: 4px;
}

.markdownl .task-list-item .handle {
    display: none;
}

.markdownl .task-list-item-checkbox {
    margin: 0 .2em .25em -1.4em;
    vertical-align: middle;
}

.markdownl .contains-task-list:dir(rtl) .task-list-item-checkbox {
    margin: 0 -1.6em .25em .2em;
}

.markdownl .contains-task-list {
    position: relative;
}

.markdownl .contains-task-list:hover .task-list-item-convert-container,
.markdownl .contains-task-list:focus-within .task-list-item-convert-container {
    display: block;
    width: auto;
    height: 24px;
    overflow: visible;
    clip: auto;
}

.markdownl ::-webkit-calendar-picker-indicator {
    filter: invert(50%);
}

.markdownd {
    color-scheme: dark;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    color: #c9d1d9;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    transition: background-color 1.5s;
}

.markdownd .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}

.markdownd h1:hover .anchor .octicon-link:before,
.markdownd h2:hover .anchor .octicon-link:before,
.markdownd h3:hover .anchor .octicon-link:before,
.markdownd h4:hover .anchor .octicon-link:before,
.markdownd h5:hover .anchor .octicon-link:before,
.markdownd h6:hover .anchor .octicon-link:before {
    width: 16px;
    height: 16px;
    content: ' ';
    display: inline-block;
    background-color: transparent;
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdownd details,
.markdownd figcaption,
.markdownd figure {
    display: block;
}

.markdownd summary {
    display: list-item;
}

.markdownd [hidden] {
    display: none !important;
}

.markdownd a {
    background-color: transparent;
    color: #58a6ff;
    text-decoration: none;
}

.markdownd abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}

.markdownd b,
.markdownd strong {
    font-weight: 600;
}

.markdownd dfn {
    font-style: italic;
}

.markdownd h1 {
    margin: .67em 0;
    font-weight: 600;
    padding-bottom: .3em;
    font-size: 2em;
    border-bottom: 1px solid #21262d;
}

.markdownd mark {
    background-color: transparent;
    color: #c9d1d9;
}

.markdownd small {
    font-size: 90%;
}

.markdownd sub,
.markdownd sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.markdownd sub {
    bottom: -0.25em;
}

.markdownd sup {
    top: -0.5em;
}

.markdownd img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
    background-color: transparent;
}

.markdownd code,
.markdownd kbd,
.markdownd pre,
.markdownd samp {
    font-family: monospace;
    font-size: 1em;
}

.markdownd figure {
    margin: 1em 40px;
}

.markdownd hr {
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid #21262d;
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: transparent;
    border: 0;
}

.markdownd input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.markdownd [type=button],
.markdownd [type=reset],
.markdownd [type=submit] {
    -webkit-appearance: button;
}

.markdownd [type=checkbox],
.markdownd [type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.markdownd [type=number]::-webkit-inner-spin-button,
.markdownd [type=number]::-webkit-outer-spin-button {
    height: auto;
}

.markdownd [type=search]::-webkit-search-cancel-button,
.markdownd [type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.markdownd ::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
}

.markdownd ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

.markdownd a:hover {
    text-decoration: underline;
}

.markdownd ::placeholder {
    color: #6e7681;
    opacity: 1;
}

.markdownd hr::before {
    display: table;
    content: "";
}

.markdownd hr::after {
    display: table;
    clear: both;
    content: "";
}

.markdownd table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}

.markdownd td,
.markdownd th {
    padding: 0;
}

.markdownd details summary {
    cursor: pointer;
}

.markdownd details:not([open])>*:not(summary) {
    display: none !important;
}

.markdownd a:focus,
.markdownd [role=button]:focus,
.markdownd input[type=radio]:focus,
.markdownd input[type=checkbox]:focus {
    outline: 2px solid #58a6ff;
    outline-offset: -2px;
    box-shadow: none;
}

.markdownd a:focus:not(:focus-visible),
.markdownd [role=button]:focus:not(:focus-visible),
.markdownd input[type=radio]:focus:not(:focus-visible),
.markdownd input[type=checkbox]:focus:not(:focus-visible) {
    outline: solid 1px transparent;
}

.markdownd a:focus-visible,
.markdownd [role=button]:focus-visible,
.markdownd input[type=radio]:focus-visible,
.markdownd input[type=checkbox]:focus-visible {
    outline: 2px solid #58a6ff;
    outline-offset: -2px;
    box-shadow: none;
}

.markdownd a:not([class]):focus,
.markdownd a:not([class]):focus-visible,
.markdownd input[type=radio]:focus,
.markdownd input[type=radio]:focus-visible,
.markdownd input[type=checkbox]:focus,
.markdownd input[type=checkbox]:focus-visible {
    outline-offset: 0;
}

.markdownd kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    line-height: 10px;
    color: #c9d1d9;
    vertical-align: middle;
    background-color: transparent;
    border: solid 1px rgba(110, 118, 129, 0.4);
    border-bottom-color: rgba(110, 118, 129, 0.4);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 rgba(110, 118, 129, 0.4);
}

.markdownd h1,
.markdownd h2,
.markdownd h3,
.markdownd h4,
.markdownd h5,
.markdownd h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.markdownd h2 {
    font-weight: 600;
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid #21262d;
}

.markdownd h3 {
    font-weight: 600;
    font-size: 1.25em;
}

.markdownd h4 {
    font-weight: 600;
    font-size: 1em;
}

.markdownd h5 {
    font-weight: 600;
    font-size: .875em;
}

.markdownd h6 {
    font-weight: 600;
    font-size: .85em;
    color: #8b949e;
}

.markdownd p {
    margin-top: 0;
    margin-bottom: 10px;
}

.markdownd blockquote {
    margin: 0;
    padding: 0 1em;
    color: #8b949e;
    border-left: .25em solid #30363d;
}

.markdownd ul,
.markdownd ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
}

.markdownd ol ol,
.markdownd ul ol {
    list-style-type: lower-roman;
}

.markdownd ul ul ol,
.markdownd ul ol ol,
.markdownd ol ul ol,
.markdownd ol ol ol {
    list-style-type: lower-alpha;
}

.markdownd dd {
    margin-left: 0;
}

.markdownd tt,
.markdownd code,
.markdownd samp {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 12px;
}

.markdownd pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 12px;
    word-wrap: normal;
}

.markdownd .octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.markdownd input::-webkit-outer-spin-button,
.markdownd input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}

.markdownd::before {
    display: table;
    content: "";
}

.markdownd::after {
    display: table;
    clear: both;
    content: "";
}

.markdownd>*:first-child {
    margin-top: 0 !important;
}

.markdownd>*:last-child {
    margin-bottom: 0 !important;
}

.markdownd a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.markdownd .absent {
    color: #f85149;
}

.markdownd .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}

.markdownd .anchor:focus {
    outline: none;
}

.markdownd p,
.markdownd blockquote,
.markdownd ul,
.markdownd ol,
.markdownd dl,
.markdownd table,
.markdownd pre,
.markdownd details {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdownd blockquote>:first-child {
    margin-top: 0;
}

.markdownd blockquote>:last-child {
    margin-bottom: 0;
}

.markdownd h1 .octicon-link,
.markdownd h2 .octicon-link,
.markdownd h3 .octicon-link,
.markdownd h4 .octicon-link,
.markdownd h5 .octicon-link,
.markdownd h6 .octicon-link {
    color: #c9d1d9;
    vertical-align: middle;
    visibility: hidden;
}

.markdownd h1:hover .anchor,
.markdownd h2:hover .anchor,
.markdownd h3:hover .anchor,
.markdownd h4:hover .anchor,
.markdownd h5:hover .anchor,
.markdownd h6:hover .anchor {
    text-decoration: none;
}

.markdownd h1:hover .anchor .octicon-link,
.markdownd h2:hover .anchor .octicon-link,
.markdownd h3:hover .anchor .octicon-link,
.markdownd h4:hover .anchor .octicon-link,
.markdownd h5:hover .anchor .octicon-link,
.markdownd h6:hover .anchor .octicon-link {
    visibility: visible;
}

.markdownd h1 tt,
.markdownd h1 code,
.markdownd h2 tt,
.markdownd h2 code,
.markdownd h3 tt,
.markdownd h3 code,
.markdownd h4 tt,
.markdownd h4 code,
.markdownd h5 tt,
.markdownd h5 code,
.markdownd h6 tt,
.markdownd h6 code {
    padding: 0 .2em;
    font-size: inherit;
}

.markdownd summary h1,
.markdownd summary h2,
.markdownd summary h3,
.markdownd summary h4,
.markdownd summary h5,
.markdownd summary h6 {
    display: inline-block;
}

.markdownd summary h1 .anchor,
.markdownd summary h2 .anchor,
.markdownd summary h3 .anchor,
.markdownd summary h4 .anchor,
.markdownd summary h5 .anchor,
.markdownd summary h6 .anchor {
    margin-left: -40px;
}

.markdownd summary h1,
.markdownd summary h2 {
    padding-bottom: 0;
    border-bottom: 0;
}

.markdownd ul.no-list,
.markdownd ol.no-list {
    padding: 0;
    list-style-type: none;
}

.markdownd ol[type=a] {
    list-style-type: lower-alpha;
}

.markdownd ol[type=A] {
    list-style-type: upper-alpha;
}

.markdownd ol[type=i] {
    list-style-type: lower-roman;
}

.markdownd ol[type=I] {
    list-style-type: upper-roman;
}

.markdownd ol[type="1"] {
    list-style-type: decimal;
}

.markdownd div>ol:not([type]) {
    list-style-type: decimal;
}

.markdownd ul ul,
.markdownd ul ol,
.markdownd ol ol,
.markdownd ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.markdownd li>p {
    margin-top: 16px;
}

.markdownd li+li {
    margin-top: .25em;
}

.markdownd dl {
    padding: 0;
}

.markdownd dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

.markdownd dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.markdownd table th {
    font-weight: 600;
}

.markdownd table th,
.markdownd table td {
    padding: 6px 13px;
    border: 1px solid #30363d;
}

.markdownd table tr {
    background-color: transparent;
    border-top: 1px solid #21262d;
}

.markdownd table tr:nth-child(2n) {
    background-color: transparent;
}

.markdownd table img {
    background-color: transparent;
}

.markdownd img[align=right] {
    padding-left: 20px;
}

.markdownd img[align=left] {
    padding-right: 20px;
}

.markdownd .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent;
}

.markdownd span.frame {
    display: block;
    overflow: hidden;
}

.markdownd span.frame>span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid #30363d;
}

.markdownd span.frame span img {
    display: block;
    float: left;
}

.markdownd span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #c9d1d9;
}

.markdownd span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdownd span.align-center>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center;
}

.markdownd span.align-center span img {
    margin: 0 auto;
    text-align: center;
}

.markdownd span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdownd span.align-right>span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right;
}

.markdownd span.align-right span img {
    margin: 0;
    text-align: right;
}

.markdownd span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden;
}

.markdownd span.float-left span {
    margin: 13px 0 0;
}

.markdownd span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden;
}

.markdownd span.float-right>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
}

.markdownd code,
.markdownd tt {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: transparent;
    border-radius: 6px;
}

.markdownd code br,
.markdownd tt br {
    display: none;
}

.markdownd del code {
    text-decoration: inherit;
}

.markdownd samp {
    font-size: 85%;
}

.markdownd pre code {
    font-size: 100%;
}

.markdownd pre>code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: rgb(64 64 64 / var(--tw-bg-opacity));
    border: 0;
}

.markdownd .highlight {
    margin-bottom: 16px;
}

.markdownd .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.markdownd .highlight pre,
.markdownd pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: rgb(64 64 64 / var(--tw-bg-opacity));
    border-radius: 6px;
}

.markdownd pre code,
.markdownd pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: rgb(64 64 64 / var(--tw-bg-opacity));
    border: 0;
}

.markdownd .csv-data td,
.markdownd .csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
}

.markdownd .csv-data .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: #0d1117;
    border: 0;
}

.markdownd .csv-data tr {
    border-top: 0;
}

.markdownd .csv-data th {
    font-weight: 600;
    background: #252a33;
    border-top: 0;
}

.markdownd [data-footnote-ref]::before {
    content: "[";
}

.markdownd [data-footnote-ref]::after {
    content: "]";
}

.markdownd .footnotes {
    font-size: 12px;
    color: #8b949e;
    border-top: 1px solid #30363d;
}

.markdownd .footnotes ol {
    padding-left: 16px;
}

.markdownd .footnotes ol ul {
    display: inline-block;
    padding-left: 16px;
    margin-top: 16px;
}

.markdownd .footnotes li {
    position: relative;
}

.markdownd .footnotes li:target::before {
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -24px;
    pointer-events: none;
    content: "";
    border: 2px solid #1f6feb;
    border-radius: 6px;
}

.markdownd .footnotes li:target {
    color: #c9d1d9;
}

.markdownd .footnotes .data-footnote-backref g-emoji {
    font-family: monospace;
}

.markdownd .pl-c {
    color: #8b949e;
}

.markdownd .pl-c1,
.markdownd .pl-s .pl-v {
    color: #79c0ff;
}

.markdownd .pl-e,
.markdownd .pl-en {
    color: #d2a8ff;
}

.markdownd .pl-smi,
.markdownd .pl-s .pl-s1 {
    color: #c9d1d9;
}

.markdownd .pl-ent {
    color: #7ee787;
}

.markdownd .pl-k {
    color: #ff7b72;
}

.markdownd .pl-s,
.markdownd .pl-pds,
.markdownd .pl-s .pl-pse .pl-s1,
.markdownd .pl-sr,
.markdownd .pl-sr .pl-cce,
.markdownd .pl-sr .pl-sre,
.markdownd .pl-sr .pl-sra {
    color: #a5d6ff;
}

.markdownd .pl-v,
.markdownd .pl-smw {
    color: #ffa657;
}

.markdownd .pl-bu {
    color: #f85149;
}

.markdownd .pl-ii {
    color: #f0f6fc;
    background-color: transparent;
}

.markdownd .pl-c2 {
    color: #f0f6fc;
    background-color: transparent;
}

.markdownd .pl-sr .pl-cce {
    font-weight: bold;
    color: #7ee787;
}

.markdownd .pl-ml {
    color: #f2cc60;
}

.markdownd .pl-mh,
.markdownd .pl-mh .pl-en,
.markdownd .pl-ms {
    font-weight: bold;
    color: #1f6feb;
}

.markdownd .pl-mi {
    font-style: italic;
    color: #c9d1d9;
}

.markdownd .pl-mb {
    font-weight: bold;
    color: #c9d1d9;
}

.markdownd .pl-md {
    color: #ffdcd7;
    background-color: transparent;
}

.markdownd .pl-mi1 {
    color: #aff5b4;
    background-color: transparent;
}

.markdownd .pl-mc {
    color: #ffdfb6;
    background-color: transparent;
}

.markdownd .pl-mi2 {
    color: #c9d1d9;
    background-color: transparent;
}

.markdownd .pl-mdr {
    font-weight: bold;
    color: #d2a8ff;
}

.markdownd .pl-ba {
    color: #8b949e;
}

.markdownd .pl-sg {
    color: #484f58;
}

.markdownd .pl-corl {
    text-decoration: underline;
    color: #a5d6ff;
}

.markdownd g-emoji {
    display: inline-block;
    min-width: 1ch;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    font-style: normal !important;
    font-weight: 400;
    line-height: 1;
    vertical-align: -0.075em;
}

.markdownd g-emoji img {
    width: 1em;
    height: 1em;
}

.markdownd .task-list-item {
    list-style-type: none;
}

.markdownd .task-list-item label {
    font-weight: 400;
}

.markdownd .task-list-item.enabled label {
    cursor: pointer;
}

.markdownd .task-list-item+.task-list-item {
    margin-top: 4px;
}

.markdownd .task-list-item .handle {
    display: none;
}

.markdownd .task-list-item-checkbox {
    margin: 0 .2em .25em -1.4em;
    vertical-align: middle;
}

.markdownd .contains-task-list:dir(rtl) .task-list-item-checkbox {
    margin: 0 -1.6em .25em .2em;
}

.markdownd .contains-task-list {
    position: relative;
}

.markdownd .contains-task-list:hover .task-list-item-convert-container,
.markdownd .contains-task-list:focus-within .task-list-item-convert-container {
    display: block;
    width: auto;
    height: 24px;
    overflow: visible;
    clip: auto;
}

.markdownd ::-webkit-calendar-picker-indicator {
    filter: invert(50%);
}
